<div class="demo-toolbar">

    <mat-toolbar color="accent">
      <button mat-icon-button [mat-menu-trigger-for]="posXMenuOverlay" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <button routerLink="/" class ="text-button" mat-button>HyperSServer <img src="../assets/hypers.png" width="30" height="30" class="d-inline-block align-top" alt=""></button>
      <span class="demo-fill-remaining"></span>

      <button mat-button>Text</button>
      <button mat-flat-button>Flat</button>
      <button mat-mini-fab color="">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-mini-fab color="primary">
        <mat-icon>done</mat-icon>
      </button>
    </mat-toolbar>
</div>
<mat-menu xPosition="before" [overlapTrigger]="false" #posXMenuOverlay="matMenu" class="before over">
  <button mat-menu-item *ngFor="let item of iconItems" routerLink={{item.route}}>
    <mat-icon>{{ item.icon }}</mat-icon>
    {{ item.text }}
  </button>
</mat-menu>


<!--

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">
    <img src="../assets/hypers.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Hypers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Link 2</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
-->
